<!--BalsTechnology-SK-->
<link href="/bower_components/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/css/themes/main/materialize-red.css" id="ssMainColor" rel="stylesheet" type="text/css" />
<link href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />

<div ng-init="initializeController()" id="menus" ng-include="'/Views/Header/AdminMenus-en.html'"></div>

<style ng-bind-html="barColorStyle"></style>


<main>
    <section id="property">
        <div class="row" style="margin-top: 2%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Change Password
                    </h3>
                </div>
                <div class="panel-body admin-table-body-wrapper">
                    <div class="row" style="border: 1px solid #ddd;border-radius: 2px; padding: 5px;">


                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">
                            <div class="col-md-12 col-sm-12 col-xs-12" align="center" style="margin-bottom:20px">
                                <h5>Change Password</h5>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12"></div>
                            <div class="col-md-9 col-sm-12 col-xs-12" style="" id="divalign">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-bottom:5px;">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>Current Password</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="display: inline-flex;">
                                        <input type="password" id="txtcurpass" class="form-control" style="border-radius: 4px; height: 35px; padding-left: 10px; border: 1px solid #ccc;" />
                                        <label style="color: red; margin-left: 5px;" for="">*</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" id="fieldreq1" style=" padding: 0px; display: none">
                                        <p style="color:red;">This field is required!</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-bottom:5px;">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>New Password</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="display: inline-flex;">
                                        <input type="password" id="txtnewpass" class="form-control" style="border-radius: 4px; height: 35px; padding-left: 10px; border: 1px solid #ccc;" />
                                        <label style="color: red; margin-left: 5px;" for="">*</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-6" id="fieldreq2" style=" padding: 0px; display: none">
                                        <p style="color:red;">This field is required!</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" id="lblpassvalid" style=" padding: 0px; display: none">
                                        <p style="color:red;">Your password must be minumum 8 characters and contain at least one digit and one letter</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-bottom:5px;">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>Password Verification</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style=" display :inline-flex;">
                                        <input type="password" id="txtveripass" class="form-control" style="border-radius: 4px; height: 35px; padding-left: 10px; border: 1px solid #ccc;" />
                                        <label style="color: red; margin-left: 5px;" for="">*</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" id="fieldreq3" style=" padding: 0px;display:none">
                                        <p style="color:red;">This field is required!</p>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" id="lblmatchchk" style=" padding: 0px; display: none">
                                        <p style="color:red;">The submitted passwords do not match. Please check.</p>
                                    </div>
                                </div>
                            </div>
                            <div align="center">
                                <input style="width: 150px;" type="button" class="btn btn-success" value="Save" ng-click="Savepassword()">
                            </div>
                            <div align="center" style="display:none;" id="lblsuccess">
                                <p style="color:green;">Your Password reset successfully</p>
                            </div>
                            <div align="center" style="display:none;" id="lblerror">
                                <p style="color:red;">Your current password doesn't match the supplied password</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>

<div id="footer" ng-include="'/Views/Footer/footer-en.html'"></div>