<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>GBS Extranet</title>
        <link href="css/login.css" rel="stylesheet" type="text/css" />
        <link href="css/themes/light.css" id="ssThemeColor" rel="stylesheet" type="text/css" />
        <link href="css/themes/main/materialize-red.css" id="ssMainColor" rel="stylesheet" type="text/css" />
        <!--<link href="css/themes/alternative/red.css" id="ssAlternativeColor" rel="stylesheet" type="text/css" />-->
    </head>

    <body>
        <div id="theme-gradient"></div>
        
        <!-- ####### -->
        <!-- Content -->
        <!-- ####### -->
        <main>
            <div class="login-wrapper" ng-init="initializeController()">
				<form  method="post">
					<div class="panel panel-bordered z-depth-1">
						<div class="panel-header">
							<h5>
                                Zarządzaj  <b class="main-text">swoją nieruchomość</b>
							</h5>
						</div>

						<div class="panel-body">
                            <span style="color:red;" ng-if="isInvalidUser"> {{loginErrorText}}</span>
							<div class="input-field">
								<input type="text" ng-model="UserName" name="login" id="login" required>
								<label for="login">Nazwa Użytkownika</label>
							</div>
							<div class="input-field">
								<input type="password" ng-model="Password" name="password" id="password" required>
								<label for="password">Hasło</label>
							</div>
                            <div input-field>
                                <!--<select class="" ng-init="selectLanguage = selectLanguages[0]"-->
                                        <!--ng-model="selectLanguage" ng-change="languageChanged(selectLanguage)" material-select >-->
                                    <!--<option ng-repeat="value in selectLanguages"-->
                                            <!--ng-selected="{{value.code == selectedValue}}"-->
                                            <!--value="{{value.code}}">{{value.name}}</option>-->
                                <!--</select>-->

                                <select id="selectLanguage"
                                        data-ng-model="selectLanguage" ng-change="languageChanged(selectLanguage)"
                                        ng-options="lang.code as lang.name for lang in ::selectLanguages"
                                        material-select watch>
                                </select>

                            </div>

						</div>

						<div class="panel-footer">
							<div class="right-align">
								<a class="btn-flat waves-effect" data-ng-click="forgotPass()">
                                    Zapomniałeś hasła ?
								</a>

								<button type="submit" class="btn-flat waves-effect" data-ng-click="loginOK()">
                                    Zaloguj Się
								</button>
							</div>
						</div>
					</div>
				</form>
            </div>
        </main>


        <script src="js/utils.js" type="text/javascript"></script>
        <script src="js/colors.js" type="text/javascript"></script>
        <!--<script src="js/theme-switcher.js" type="text/javascript"></script>-->

    </body>
</html>