<!--Balstechnology-AJ-->

<link href="/bower_components/materialize/dist/css/materialize.css" rel="stylesheet" type="text/css" />
<!--<link href="/bower_components/code-prettify/src/prettify.css" rel="stylesheet" type="text/css" />-->
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<!--<link href="/css/themes/main/materialize-red.css" id="ssMainColor" rel="stylesheet" type="text/css" />-->
<!--<link href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />-->

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<div ng-init="initializeController()" id="menus" ng-include="'/Views/Header/AdminMenus-en.html'"></div>
    <style>
        .img-thumbnail {
            padding: 0px !important;
            line-height: 1.42857143;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            display: inline-block;
            max-width: 100%;
            height: auto;
        }
     
        select.browser-default {
            color: #000;
            border-color: #9e9e9e;
            height: 30px;
            padding-top: 0px;
            font-size: 16px;
        }

        .select-wrapper {
            background: none;
        }

        .input-group {
            margin-top: 5px;
            width: 77%;
            padding-left: 5px;
        }

        input[type=text] {
            margin-bottom: 0px;
            height: 29px;
            border: 1px solid #ddd;
        }

        .action-img {
            height: 16px;
            width: 20px;
            margin-right: 10px;
            cursor: pointer;
            -webkit-transition: all .55s ease;
            -moz-transition: all .55s ease;
            -ms-transition: all .55s ease;
            -o-transition: all .55s ease;
            transition: all .55s ease;
        }

            .action-img:hover {
                /*margin-top: 10px;*/
                /*color: #93a2ad;*/
                -webkit-transform: scale(1.5); /* Safari and Chrome */
                -moz-transform: scale(1.5); /* Firefox */
                -ms-transform: scale(1.5); /* IE 9 */
                -o-transform: scale(1.5); /* Opera */
                transform: scale(1.5);
            }
            @media (max-width:767px)
            {
                #Disroomdet{
                    text-align:center;
                }
                #titlediv {
                    text-align: center;
                }
                #btnid{
                margin-left:100px;
                } 
                #titlediv {
                    text-align: center;
                }
                #hintdiv {
                    text-align: center;
                }
            }
        @media (max-width:400px) {
            #btnid {
                margin-left: 0px !important;
                width: 114% !important;
            } 
        }
    </style>
<style>
    .btn-success {
        background-color: #449d44 !important;
        border-color: #449d44 !important;
        /*padding: 5px !important;*/
        height: 33px !important;
        line-height: 10px !important;
        border-radius: 5px !important;
    }
</style>
<style ng-bind-html="barColorStyle"></style>
    <main>
        <section id="property">
            <div class="" style="margin-top: 2%">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Property Room
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-init="initializeController()" style="">
                            <form method="post">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px" id="titlediv">
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="">
                                        <label style="font-size: 20px; color: darkslateblue; font-weight: 900; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif; ">All your rooms</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="">

                                        <button id="btnid" type="button" class="btn btn-block btn-large" style="width: 68%; height: 39px; border-bottom-right-radius: 7px; border-top-right-radius: 7px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; background-color: #2bbbad; font-weight: bold; line-height: 33px; " ng-click="btnnewrecored()">Add a new Room </button>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px" id="hintdiv">
                                    <label style=" font-size: 16px; color: black; margin-left: 13px; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;">Hint: Add and remove<a href="#"> room facilities for all rooms here</a></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:30px" id="Disroomdet">

                                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;" ng-repeat="R in Room">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="../../images/Hotel/{{R.Image}}" class="img-thumbnail" style=" height: 178px;"><br />
                                            <div class="col-md-12 col-xs-12" style="text-align: center; margin-top: 10px;">
                                                <input type="button" value="Edit" class="btn btn-success" ng-click="EditRoomdetails(R.RoomID)" />
                                                </div>
                                            </div>

                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div style="font-size: 20px;  padding: 3px; margin-bottom: 5px;">
                                                <a href="#" style="text-decoration: none; text-decoration: none; font-family: sans-serif; font-weight: 700; font-size: 20px; color: #DF7401; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif; ">{{R.RoomTypeName}}</a>
                                            </div>
                                            <div>

                                                <span style="line-height: 28px; font-size: 18px; color: #78D82E; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;">{{R.SomkingTypeName}}</span>
                                            </div>
                                            <div style="">
                                                <span style="line-height: 28px; font-size: 18px; color: #333; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;">I{{R.RoomSize}}</span>
                                            </div>
                                            <div>
                                                <span style="line-height: 28px; font-size: 18px; color: #333; font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;">{{R.RoomCount}}</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
        </section>
</main>
<div id="footer" ng-include="'/Views/Footer/footer-en.html'"></div>