
<nav>
    <div class="row">
        <div class="col s12">
            <!-- ############ -->
            <!-- Desktop Menu -->
            <!-- ############ -->
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">
                    <img src="img/logo_gbs.png"/>
                    <!--<span class="valign">-->
                    <!--<b class="main-text">GBS</b> Admin-->
                    <!--</span>-->
                </a>

                <!-- Desktop -->
                <ul class="right hide-on-med-and-down">

                    <li class="profile ">
                        <a class="dropdown-button" data-activates="dropdown-profile" data-constrainwidth="false" data-beloworigin="true" data-alignment="right">
                            <div class="valign-wrapper">
                                <img src="img/profile.jpg" alt="My profile" class="circle responsive-img margin-right-10">
                                Admin User
                                <i class="fa fa-sort-desc right" aria-hidden="true"></i>
                                <!--<i class="fa fa-sort-desc right" aria-hidden="true"></i>-->
                            </div>
                        </a>
                    </li>
                    <li class="language">
                        <a class="dropdown-button" data-activates="dropdown-language" data-constrainwidth="false" data-beloworigin="true" data-alignment="right">
                            <div class="valign-wrapper">
                                <!--<img src="img/profile.jpg" alt="My profile" class="circle responsive-img margin-right-10">-->
                                {{selectLanguage}}
                                <i class="fa fa-sort-desc right" aria-hidden="true"></i>
                                <!--<i class="fa fa-sort-desc right" aria-hidden="true"></i>-->
                            </div>
                        </a>
                    </li>
                </ul>

                <!-- Dropdowns -->
                <ul id="dropdown-profile" class="dropdown-content">
                    <!--<li ><a href="profile.html">Profile</a></li>-->
                    <li ng-click="SignOut()"><a>logout </a></li>
                </ul>
                <ul id="dropdown-language" style="max-height: 250px;" class="dropdown-content">
                    <li ng-repeat="item in selectLanguages" ng-click="setLanguage(item)">
                        <a>{{item.name}}</a>
                    </li>

                </ul>
                <!-- Mobile -->
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>


            <!-- ########### -->
            <!-- Mobile Menu -->
            <!-- ########### -->
            <div ng-if="IsHotelAdmin">
                <ul class="side-nav" id="mobile-demo">
                    <li class="logo">
                        <img src="img/logo_gbs.png"/>
                    </li>

                    <li  ng-class="{'active' : selectedView == ViewType.Dashboard}" ng-click="goToMenu(ViewType.Dashboard)">
                        <a class="waves-effect">Dashboard</a>
                    </li>

                    <li class="padding-0">
                        <ul class="collapsible collapsible-accordion">
                            <li ng-class="{'active' : selectedMenu == MenuType.Property}" class="bold">
                                <a class="collapsible-header waves-effect">Property</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyInformation}" ng-click="goToMenu(ViewType.PropertyInformation)"><a>Property Informations</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.ChildrenPolicies}" ng-click="goToMenu(ViewType.ChildrenPolicies)"><a>Children & Extra bed Policies</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyPolicies}" ng-click="goToMenu(ViewType.PropertyPolicies)"><a>Property Policies</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.CancellationPolicy}" ng-click="goToMenu(ViewType.CancellationPolicy)"><a>Payment & Cancellation Policies</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Statistics}" ng-click="goToMenu(ViewType.Statistics)"><a>Statistics</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyReviews}" ng-click="goToMenu(ViewType.PropertyReviews)"><a>Reviews</a></li>
                                        <li><a>Channel Manager</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect">Rate & Availability</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-class="{'active' : selectedView == ViewType.HotelRateOverView}" ng-click="goToMenu(ViewType.HotelRateOverView)"><a>Overview</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.RateAndAvailability}" ng-click="goToMenu(ViewType.RateAndAvailability)"><a>Rate & Availability</a></li>
                                        <li><a>Rate</a></li>
                                        <li><a>Availability</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="waves-effect" ng-class="{'active' : selectedView == ViewType.PromotionMenu}" ng-click="goToMenu(ViewType.PromotionMenu)">Promotions</a>

                            </li>
                            <li>
                                <a class="waves-effect" ng-class="{'active' : selectedView == ViewType.Reservations}" ng-click="goToMenu(ViewType.Reservations)">Reservations</a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Finance</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <!--BalsTechnology-SK-->
                                        <li ng-class="{'active' : selectedView == ViewType.FirmInformation}" ng-click="goToMenu(ViewType.FirmInformation)"><a>Firm Information</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Invoice}" ng-click="goToMenu(ViewType.Invoice)"><a>Invoices</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.MonthlyRevenue}" ng-click="goToMenu(ViewType.MonthlyRevenue)"><a>Monthly Revenue</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.ReservationStatement}" ng-click="goToMenu(ViewType.ReservationStatement)"><a>Monthly Revenue</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Settings</a>
                                <div class="collapsible-body">
                                    <ul>

                                        <li ng-class="{'active' : selectedView == ViewType.SystemSettings}" ng-click="goToMenu(ViewType.SystemSettings)"><a>System Settings</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyCommission}" ng-click="goToMenu(ViewType.PropertyCommission)"><a>Property Commission</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.ChangePassword}" ng-click="goToMenu(ViewType.ChangePassword)"><a>Change Password</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Website content</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyFacilities}" ng-click="goToMenu(ViewType.PropertyFacilities)"><a >Property Facilities</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Photos}" ng-click="goToMenu(ViewType.Photos)"><a >Photos</a></li>
                                        <!--Balstechnology-AJ-->
                                        <li ng-class="{'active' : selectedView == ViewType.PropertyRooms}" ng-click="goToMenu(ViewType.PropertyRooms)"><a>Property Rooms</a></li>
                                        <!--Balstechnology-AJ-->
                                        <li ><a >Property Page</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Addonservices}" ng-click="goToMenu(ViewType.Addonservices)"><a>Add-on Service</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--BalsTechnology-SK-->
                            <li>
                                <a class="waves-effect" ng-class="{'active' : selectedView == ViewType.Inbox}" ng-click="goToMenu(ViewType.Inbox)">Inbox</a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Admin User</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-click="SignOut()"><a>Log Out</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect">Language</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-repeat="item in selectLanguages" ng-click="setLanguage(item)">
                                            <a>{{item.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-if="!IsHotelAdmin">
                <ul class="side-nav" id="mobile-demo">
                    <li class="logo">
                        <img src="img/logo_gbs.png"/>
                    </li>

                    <li  ng-class="{'active' : selectedView == ViewType.Dashboard}" ng-click="goToMenu(ViewType.Dashboard)">
                        <a class="waves-effect">Dashboard</a>
                    </li>

                    <li class="padding-0">
                        <ul class="collapsible collapsible-accordion">
                            <li ng-class="{'active' : selectedMenu == MenuType.Maintenance}" class="bold">
                                <a class="collapsible-header waves-effect">Maintenance</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li  ng-class="{'active' : selectedView == ViewType.Country}" ng-click="goToMenu(ViewType.Country)"><a>Countries</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Region}" ng-click="goToMenu(ViewType.Region)"><a>Region</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.UserOperation}" ng-click="goToMenu(ViewType.UserOperation)"><a>User Operation</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Parameter}" ng-click="goToMenu(ViewType.Parameter)"><a>Parameters</a></li>
                                        <li ng-class="{'active' : selectedView == ViewType.Authorization}" ng-click="goToMenu(ViewType.Authorization)"><a>Authorization</a></li>
                                        <li><a>Tables</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Statistics</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a>Daily Statistics</a></li>
                                        <li><a>Search statistics </a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Communications</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a>Emails</a></li>
                                        <li><a>Company requests</a></li>
                                        <li><a>User Messages</a></li>
                                        <li><a>Messages</a></li>
                                        <li><a>Reviews</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Management</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a>Property</a></li>
                                        <li><a>Company</a></li>
                                        <li><a>User</a></li>
                                        <li><a>Bank</a></li>
                                        <li><a>Invoices</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header waves-effect">Bookings</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a >Bookings</a></li>
                                        <li><a >Property Bookings</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect">Admin User</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-click="SignOut()"><a>Log Out</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect">Language</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-repeat="item in selectLanguages" ng-click="setLanguage(item)">
                                            <a>{{item.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<nav>
    <div ng-if="!IsHotelAdmin" class="row">
        <div class="col s12">
            <!-- ############ -->
            <!-- Desktop Menu -->
            <!-- ############ -->
            <div class="nav-wrapper">

                <!-- Desktop -->
                <ul class="left hide-on-med-and-down">
                    <li ng-class="{'active' : selectedMenu == MenuType.Dashboard}" ng-click="goToMenu(ViewType.Dashboard)"><a>Dashboard</a></li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Maintenance}">
                        <a class="dropdown-button"  data-activates="dropdown-maintainance" data-constrainwidth="false" data-beloworigin="true">
                            Maintenance<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Statistics}">
                        <a class="dropdown-button"  data-activates="dropdown-statistics" data-constrainwidth="false" data-beloworigin="true">
                            Statistics<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Communications}">
                        <a class="dropdown-button"  data-activates="dropdown-communications" data-constrainwidth="false" data-beloworigin="true">
                            Communications<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Management}">
                        <a class="dropdown-button"  data-activates="dropdown-management" data-constrainwidth="false" data-beloworigin="true">
                            Management<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Reservation}">
                        <a class="dropdown-button" data-activates="dropdown-reservations" data-constrainwidth="false" data-beloworigin="true">
                            Reservation<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

                <!-- Dropdowns -->
                <ul id="dropdown-maintainance"  class="dropdown-content">
                    <li ng-class="{'active' : selectedView == ViewType.Country}" ng-click="goToMenu(ViewType.Country)"><a>Countries</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Region}" ng-click="goToMenu(ViewType.Region)"><a>Region</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.UserOperation}" ng-click="goToMenu(ViewType.UserOperation)"><a>User Operation</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Parameter}" ng-click="goToMenu(ViewType.Parameter)"><a>Parameters</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Authorization}" ng-click="goToMenu(ViewType.Authorization)"><a>Authorization</a></li>
                    <li><a>Tables</a></li>
                </ul>
                <ul id="dropdown-statistics" class="dropdown-content">
                    <li><a>Daily Statistics</a></li>
                    <li><a>Search statistics </a></li>

                </ul>
                <ul id="dropdown-communications" class="dropdown-content">
                    <li ><a>Emails</a></li>
                    <li ><a>Compagny Requests</a></li>
                    <li ><a>User Messages</a></li>
                    <li ><a>Messages</a></li>
                    <li ><a>Reviews</a></li>

                </ul>
                <ul id="dropdown-management" class="dropdown-content">
                    <li ><a>Property</a></li>
                    <li ><a>Company</a></li>
                    <li ><a>User's</a></li>
                    <li ><a>Bank</a></li>
                    <li ><a>Invoices</a></li>
                </ul>
                <ul id="dropdown-reservations" class="dropdown-content">
                    <li ><a >Bookings</a></li>
                    <li ><a >Property Bookings</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div ng-if="IsHotelAdmin" class="row">
        <div class="col s12">
            <!-- ############ -->
            <!-- Desktop Menu -->
            <!-- ############ -->
            <div class="nav-wrapper">

                <!-- Desktop -->
                <ul class="left hide-on-med-and-down">
                    <li ng-class="{'active' : selectedMenu == MenuType.Dashboard}" ng-click="goToMenu(ViewType.Dashboard)"><a>Dashboard</a></li>

                    <li ng-class="{'active' : selectedMenu == MenuType.Property}">
                        <a class="dropdown-button"  data-activates="dropdown-property" data-constrainwidth="false" data-beloworigin="true">
                            Property<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.RateAvailability}">
                        <a class="dropdown-button"  data-activates="dropdown-rateavailability" data-constrainwidth="false" data-beloworigin="true">
                            Rate & Availability<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li ng-class="{'active' : selectedMenu == MenuType.PromotionMenu}" ng-click="goToMenu(ViewType.PromotionMenu)">
                        <a>
                            Promotions
                        </a>
                    </li>
                    <li ng-class="{'active' : selectedMenu == MenuType.Reservations}" ng-click="goToMenu(ViewType.Reservations)">
                        <a>
                            Reservations
                        </a>
                    </li>
                    <li ng-class="{'active' : selectedMenu == MenuType.Finance}">
                        <a class="dropdown-button" data-activates="dropdown-finance" data-constrainwidth="false" data-beloworigin="true">
                            Finance<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li ng-class="{'active' : selectedMenu == MenuType.Settings}">
                        <a class="dropdown-button" data-activates="dropdown-settings" data-constrainwidth="false" data-beloworigin="true">
                            Settings<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li ng-class="{'active' : selectedMenu == MenuType.WebsiteContent}">
                        <a class="dropdown-button" data-activates="dropdown-websitecontent" data-constrainwidth="false" data-beloworigin="true">
                            Website content<i class="fa fa-sort-desc right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!--BalsTechnology-SK-->
                    <li ng-class="{'active' : selectedView == ViewType.Inbox}" ng-click="goToMenu(ViewType.Inbox)">
                        <a>
                            Inbox
                        </a>
                    </li>

                </ul>

                <!-- Dropdowns -->
                <ul id="dropdown-property"  class="dropdown-content">
                    <li ng-class="{'active' : selectedView == ViewType.PropertyInformation}" ng-click="goToMenu(ViewType.PropertyInformation)"><a>Property Information</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.ChildrenPolicies}" ng-click="goToMenu(ViewType.ChildrenPolicies)"><a>Children & Extra bed Policies</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.PropertyPolicies}" ng-click="goToMenu(ViewType.PropertyPolicies)"><a>Property Policies</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.CancellationPolicy}" ng-click="goToMenu(ViewType.CancellationPolicy)"><a>Payment & Cancellation Policies</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Statistics}" ng-click="goToMenu(ViewType.Statistics)"><a>Statistics</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.PropertyReviews}" ng-click="goToMenu(ViewType.PropertyReviews)"><a>Reviews</a></li>
                    <li><a>Channel Manager</a></li>
                </ul>
                <ul id="dropdown-rateavailability" class="dropdown-content">
                    <li ng-class="{'active' : selectedView == ViewType.HotelRateOverView}" ng-click="goToMenu(ViewType.HotelRateOverView)"><a>Overview</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.RateAndAvailability}" ng-click="goToMenu(ViewType.RateAndAvailability)"><a>Rate & Availability</a></li>
                    <li><a>Rate</a></li>
                    <li><a>Availability</a></li>
                </ul>

                <ul id="dropdown-finance" class="dropdown-content">
                    <!--BalsTechnology-SK-->
                    <li ng-class="{'active' : selectedView == ViewType.FirmInformation}" ng-click="goToMenu(ViewType.FirmInformation)"><a>Firm Information</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Invoice}" ng-click="goToMenu(ViewType.Invoice)"><a>Invoices</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.MonthlyRevenue}" ng-click="goToMenu(ViewType.MonthlyRevenue)"><a>Monthly Revenue</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.ReservationStatement}" ng-click="goToMenu(ViewType.ReservationStatement)"><a>Reservation Statement</a></li>

                </ul>
                <ul id="dropdown-settings" class="dropdown-content">

                    <li ng-class="{'active' : selectedView == ViewType.SystemSettings}" ng-click="goToMenu(ViewType.SystemSettings)"><a>System Settings</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.PropertyCommission}" ng-click="goToMenu(ViewType.PropertyCommission)"><a>Property Commission</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.ChangePassword}" ng-click="goToMenu(ViewType.ChangePassword)"><a>Change Password</a></li>
                </ul>
                <ul id="dropdown-websitecontent" class="dropdown-content">
                    <li ng-class="{'active' : selectedView == ViewType.PropertyFacilities}" ng-click="goToMenu(ViewType.PropertyFacilities)"><a >Property Facilities</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Photos}" ng-click="goToMenu(ViewType.Photos)"><a >Photos</a></li>
                    <!--Balstechnology-AJ-->
                    <li ng-class="{'active' : selectedView == ViewType.PropertyRooms}" ng-click="goToMenu(ViewType.PropertyRooms)"><a>Property Rooms</a></li>
                    <!--Balstechnology-AJ-->
                    <li ><a >Property Page</a></li>
                    <li ng-class="{'active' : selectedView == ViewType.Addonservices}" ng-click="goToMenu(ViewType.Addonservices)"><a>Add-on Service</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>


<!-- ################## -->
<!-- Global javascripts -->
<!-- ################## -->
<script src="/bower_components/materialize/dist/js/materialize.js" type="text/javascript"></script>
<script src="/bower_components/code-prettify/src/prettify.js" type="text/javascript"></script>
<script src="/js/admin.js" type="text/javascript"></script>
<!-- ################ -->
<!-- Util javascripts -->
<!-- ################ -->
<script src="/js/utils.js" type="text/javascript"></script>
<script src="/js/colors.js" type="text/javascript"></script>

